* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

form {

    width: calc(100% - 20px);
    padding: 80px 80px;
    margin-bottom: 15px;
    border: none;
    background-color: #CD1818;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}